{% extends 'accounts/main.html' %} {% block content %}

<br />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Sedes</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Empresa</th>
          <th>Geolocalizacion</th>
          <th>Estado</th>
          <th>Horarios de acceso</th>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
